<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="windowsEventLoggerConfig" type="WindowsEventLogging.LoggerConfiguration, WindowsEventLogging"/>
  </configSections>

  <windowsEventLoggerConfig log="Application" source="UnitTests" />
</configuration>